<section class="hero block block--dark block--skewed-left">
  <nav class="nav collapsible">
    <a class="nav__brand" href="/"><img src="images/logo.svg" alt="" /></a>
    <svg class="icon icon--white nav__toggler">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">Hoisting</a></li>
      <li class="nav__item"><a href="#">VPS</a></li>
      <li class="nav__item"><a href="#">Domain</a></li>
      <li class="nav__item"><a href="#">Pricing</a></li>
    </ul>
  </nav>

  <header class="block__header">
    <h2 class="block__heading">Cloud Hosting Pros</h2>
    <p>Deploy Your website in less than 60 seconds.</p>
    <button class="btn btn--accent">Get Started</button>
  </header>
  <div class="block__image">
    <img src="images/banner.png" alt="" />
  </div>
</section>
